.section-one{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgb(42, 116, 253);
    z-index: -400;
}


.section-tt{
    display: flex;
    justify-content: center;
}

.section-tt .appa{
    width: 20%;
    margin-top: -30px;
}
.section-tt .appb{
    width: 90%;
}
@media screen and (max-width:720px){
    .section-tt .appa{
        display: none;
    }
    .section-tt .appb{
        width: 100%;
        margin: auto;
    }
}